# Executables
*.exe
*.out
*.app
*.vsidx
bin/
obj/
.vs/


data-access-layer/bin/
data-access-layer/obj/
data-access-layer/.vs/
data-access-layer-tests/bin/
data-access-layer-tests/obj/
appui/obj/
appui/bin/
/.vs/data-access-layer/
/.vs/data-access-layer/DesignTimeBuild/
/.vs/data-access-layer/DesignTimeBuild/.dtbcache.v2
/.vs/data-access-layer/DesignTimeBuild/.dtbcache.v2
/published
/data-access--layer.Tests/TestResults
/data-access-layer.Tests/TestResults
/data-access-layer.Tests/coverage.json
/data-access-layer.Tests/coverage
/data-access-layer.Tests/.config
*.info
