# Executables
*.exe
*.out
*.app
*.vsidx
bin/
obj/
.vs/
/data-access-layer/bin/
/.vs/data-access-layer/
/.vs/data-access-layer/DesignTimeBuild/.dtbcache.v2
/.vs/data-access-layer/FileContentIndex/5e465821-5f2f-4802-97d9-28112ca7be5e.vsidx
/.vs/data-access-layer/FileContentIndex/71970ebc-f859-4080-876f-62b479f98290.vsidx
/.vs/data-access-layer/FileContentIndex/f3b14a0e-ef85-47bb-87a7-551cbb5223db.vsidx
/.vs/data-access-layer/v17/.suo
/data-access-layer/bin/Debug/net8.0/data-access-layer.deps.json
/data-access-layer/bin/Debug/net8.0/data-access-layer.pdb
/data-access-layer/obj/Debug/net8.0/data-access-layer.AssemblyInfo.cs
/data-access-layer/obj/Debug/net8.0/data-access-layer.AssemblyInfoInputs.cache
/data-access-layer/obj/Debug/net8.0/data-access-layer.csproj.CoreCompileInputs.cache
/data-access-layer/obj/Debug/net8.0/data-access-layer.pdb
/data-access-layer-tests/bin/Debug/net8.0/CoverletSourceRootsMapping_data-access-layer-tests
/data-access-layer-tests/bin/Debug/net8.0/data-access-layer-tests.deps.json
/data-access-layer-tests/bin/Debug/net8.0/data-access-layer-tests.pdb
/data-access-layer-tests/bin/Debug/net8.0/data-access-layer.pdb
/data-access-layer-tests/bin/Debug/net8.0/nunit_random_seed.tmp
